{% extends 'blog/base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <span>Fecha de publicación:</span>
                {{ post.published_date }}
            </div>
            {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><i class="large material-icons">mode_edit</i> Editar post</span></a>
            <a class="btn btn-default" href="{% url 'post_remove' pk=post.pk %}"><i class="large material-icons">delete</i> Eliminar Post</span></a>
            {% endif %}
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
    {% endfor %}
{% endblock %}